body {
  background-color: #242629;
  color: white;
  font-size: 16px;
}

a {
  color: rgb(44, 182, 125);
}

a:visited {
  color: rgb(44, 182, 125);
}

a:hover {
  color: white;
}

a.box:focus, a.box:hover {
  box-shadow: none;
}

.container>.box {
  height: auto;
}
.container>.box .image img {
  width: 100%;
  max-width: 135px;
  margin: 0 auto;
}

.wrapper__link {
  display: flex;
}

.box {
  position: relative;
  background: rgb(22, 22, 26);
  color: white;
  width: 100%;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  font-size: 36px;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
}

.box .button {
  transition: transform 0.2s ease-out;
}
.box .button:hover {
  transform: translateY(-4px);
}

.boxyoutube .description{
  text-align: center;
  padding: 0;
  line-height: 1.2;
}
.boxyoutube .description a {
  color: white;
}
.boxyoutube .description a:hover {
  color: rgb(44, 182, 125);;
}

.header {
  color: white !important;
}

.boxsmall .column {
  padding: 0;
}

.boxsmall .title {
  color: white;
  font-size: 26px;
  vertical-align: bottom;
  margin-top: 10px;
  text-align: center;
}

.sidebox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 200px;
  width: 100%;
  font-size: 34px;
  line-height: 36px;
  color: white !important;
}

.boxdoubleleft {
  background-image: url('/images/githubprofile.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.boxdoubleleft > .subtitle {
  text-align: left;
  color: white;
}

.boxdoubleleft p {
  text-align: right;
}

.boxdoubleleft a {
  color: white;
}

.boxdoubleleft:hover p {
  color: rgb(44, 182, 125);
}

.boxdoubleright {
  background: rgb(44, 182, 125);
  color: white;
}

.boxdoubleright > .subtitle {
  color: rgb(22, 22, 26);
}

.boxdoubleright a {
  color: rgb(22, 22, 26);
}

.boxdoubleright:hover p {
  color: rgb(22, 22, 26);
}

.boxsetup {
  background: url('https://setup.emanuelebartolesi.com/img/IMG_4521.JPEG');
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-attachment: fixed; */
  background-size: cover;
}

.boxsetup p {
  color: white;
}

.boxsetup .subtitle {
  margin-top: 190px;
  color: rgb(148, 161, 178);
}

.boxsetup:hover p {
  color: white;
}

.footer {
  background: rgb(22, 22, 26);
  padding: 1rem 1.5rem 1rem;
  color: rgb(148, 161, 178);
}

.academylogo {
  height: 65px !important;
  width: auto !important;
}

@media screen and (min-width: 768px) {
  .boxsmall .column {
    display: flex;
    align-items: center;
  }
  .boxsmall .title {
    margin-top: 0;
    margin-left: 10px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .sidebox__wrp {
    max-width: 670px;
    margin: 0 auto;
  }
}
